.f-size{
    font-size: small;
    color: rgb(59, 57, 57);
}
    

ul{
    display: inline;
    background-color: rgb(255,255,255);
}
li{
    border-radius: 5px;
    color: rgb(7, 7, 7);
    list-style-type: none;
}
li:hover{
    color: white;
    background-color:#382BDB;
    transition: 0.5s ease;
}
img{
    height: 33px;
    width: 33px;
    
}
.banner{
    display: flex;
    border-bottom: 3px solid gray;
}
.removes{
    text-decoration: none;
}